.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  padding: 40px;
}
 
.auth-container {
  width: 100%;
  max-width: 1200px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  overflow: hidden;
  padding: 25px;
}
 
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.form-box {
  width: 100%;
  max-width: 380px;
}
 
.form-box h1 {
  margin-bottom: 30px;
  font-size: 32px;
}
 
.form-box label {
  display: block;
  margin-bottom: 8px;
  margin-top: 15px;
  font-size: 14px;
}
 
.form-box input {
  width: 100%;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 15px;
}
 
.password-box {
  position: relative;
}
 
.password-box button {
  position: absolute;
  right: 15px;
  top: 13px;
  background: none;
  border: none;
  cursor: pointer;
}
 
.checkbox {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
 
.checkbox input {
  width: auto;
}
 
.signup-btn {
  width: 100%;
  height: 45px;
  background: #3f6f2f;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}
 
.divider {
  text-align: center;
  margin: 25px 0;
  position: relative;
}
 
.divider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 45%;
  height: 1px;
  background: #ddd;
}
 
.divider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 45%;
  height: 1px;
  background: #ddd;
}
 
.social-buttons {
  display: flex;
  gap: 10px;
}
 
.social-buttons button {
  flex: 1;
  height: 45px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 8px;
  cursor: pointer;
}
 
.signin-text {
  text-align: center;
  margin-top: 20px;
}
 
.signin-text span {
  color: blue;
  cursor: pointer;
}
 
.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
 
@media (max-width: 900px) {
  .auth-container {
    grid-template-columns: 1fr;
  }
 
  .image-section {
    display: none;
  }
}